<div class="container__big-card">

    <div class="big-card__photo">
      <img src="https://sm.ign.com/ign_br/news/m/marvels-ir/marvels-iron-man-vr-release-date-now-set-for-july-2020_8h12.jpg"
      alt=""
      srcset=""
      height="200px">
    </div>
    <div class="big-card__title">

        <h1><a href="#">Saiu a nova versão do Angular</a></h1>

    </div>
    <div class="big-card__description">
      <p>
        <a href="#">
          bla bl bal qwfwqfqwfqwfwqf
        </a>
      </p>
    </div>
</div>
