<div class="container__small-card">

  <div class="container__small-card-content">

    <div class="small-card__photo">
      <img src="https://media.contentapi.ea.com/content/dam/news/www-ea/images/2022/09/ea-motive-new-title-teaser-16x9-featured.jpg.adapt.crop191x100.628p.jpg"
      alt=""
      srcset=""
      height="">
    </div>
    <div class="small-card__title">

        <h1><a href="#">Saiu a nova versão do Angular</a></h1>

    </div>

  </div>

  <div class="container__small-card-separator">
    <hr>
  </div>
</div>



